.itemFriend{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  gap: 1rem;
  img {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
  }
  .containerIcons{
    display: flex;
    gap: 1rem;
    .trashIcon,.rejectIcon,.checkIcon {
      width: 1.4rem;
      height: 1.4rem;
      cursor: pointer;
      transition: transform 0.2s;

    }
    .checkIcon {
      color: greenyellow;
    }
    .rejectIcon,.trashIcon {
      color: red;
    }

    .trashIcon:hover,.rejectIcon:hover,.checkIcon:hover {

      transform: scale(110%);
      transition: transform 0.2s;
    }
  }
}