.container{
  z-index: 25;
  max-height: 3.5rem;
  box-sizing: border-box;
  background-color: black;
  width: 16rem;
  border-radius: 0.3rem;
  position: absolute;
  right: 2rem;
  top: 5rem;
  padding-inline: 2rem;
  padding-block: 1rem;
  text-align: center;
  border: 2px solid rgb(81, 127, 11);
  box-shadow: 5px 5px 20px greenyellow;
  overflow: hidden;
  cursor: pointer;
  h4 {
    color: greenyellow;
    margin: 0;
    margin-bottom: 2rem;
  } 

  .itemList{
    display: flex;
    justify-content: space-between;
    gap: 0.3rem;
    p{
      font-size: 0.8rem;
    }
    button {
      background-color: rgb(255, 47, 0);
      border-color: white;
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 1rem;
      cursor: pointer;
    }
  }
  .minimise{
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    font-weight: 900;
    border: 2px solid;
    width: 1.5rem;
    height: 1rem;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;    
  }  
  transition:all 0.2s ;
}

.container:hover {
  max-height: 30rem;
  transition:all 0.2s ;
}

