.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 70%;
  input {
    text-align: center;
    height: 100%;
    width: 25rem;
    border-radius: 2rem;
    height: 100%;
    background-color: black;

  }
  input:hover {
    background-image: linear-gradient(to top, #c800ff5d,#000000, #00000000);
  }
  img {
    height: 100%;
  }
}